:root {
  --cor01: #F21628;
  --cor02: #F2949C;
  --cor03: #F21616;
  --cor04: #D9D9D9;
  --cor05: #0D0D0D;

  --font-padrao: Arial, sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}


/*Adicionando a imagem de fundo*/
.img {
  background-image: url(../img/img-fundos-contatos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; /*Adicionando a posição dela*/
  opacity: 0.7;  /*Adicionando a opacidade*/
}

/*Adicionando os estilos das fontes e realiando o alinhamento das tags main*/
.main {
  font-family: Arial;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100%;
}

/*Adicionando o fundo retângular*/
.content {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  min-width: 30%;
  overflow: auto;
  margin: 30px;
}

/*Estilizando o titulo*/
h1 {
  margin-bottom: 1rem;
  text-align: center;
}

/*Estilizando os subtopicos*/
h3 {
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}

/*colocando o formulário em formato coluna*/
.content form {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

/*Adicionando estilização nas bordas das caixas de texto*/
.inputs {
  padding: 8px 5 px;
  outline: none;
  border-radius: 5px;
  background-color: var(--cor04);
  border: 2px solid var(--cor04);
  color: black;
  width: 100%;
  box-sizing: border-box;
  transition: .3s;
}

/*Adicionando estilização nas bordas das caixas de texto*/
.inputs:focus {
  border-color: var(--cor03);
}

/*Adicionando estilização nas bordas das caixas de texto*/
.box-select {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  gap: 1rem;
}

/*Estilizando o botão*/
button[type="submit"] {
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: var(--cor04);
  color: var(--cor05);
  cursor: pointer;
  transition: .3s;
}

/*Estilizando o botão*/
button[type="submit"]:hover {
  background-color: var(--cor01);
}


/*Adicionando responsividade*/
@media screen and (max-width: 320px) {
  .box-select {
    width: 10px;
    height: 100%;
    padding: 20px;
  }

}

/*Adicionando responsividade*/
@media (max-width: 1180px) {
  .box-select {
    gap: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
  }
}