@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --cor01: #F21628;
    --cor02: #F2949C;
    --cor03: #F21616;
    --cor04: #D9D9D9;
    --cor05: #0D0D0D;

    --font-padrao: Arial, sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

.main-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
}

.squad {
    text-align: center;
    background-color: #0D0D0D;
    opacity: 0.9;
    box-shadow: 1px 1px 20px 1px #0D0D0D;
}


.card{
    height: 400px;
    width: 300px;
    background-color: #D9D9D9;
    border-radius: 20px;
}


.foto {
    display: inline-flex;
    padding: 20px 20px 20px 20px;
    width: auto;
    height: 300px;
}

.foto img{
    border-radius: 50%;
}
