.equipe {
  height: auto;
  width: 50cm;
  display: grid;
  margin: 2cm;


}

#eliseu {
  background-color: rgb(166, 10, 10);
  width: 10cm;
  height: 10cm;


}

#joao {
  background-color: coral;
  height: 10cm;
  width: 10cm;

}

#kaio {
  background-color: cornflowerblue;
  height: 10cm;
  width: 10cm;

}

#menezes {
  background-color: brown;
  height: 10cm;
  width: 10cm;
  
}

#gabriel {
  background-color: darkgreen;
  height: 10cm;
  width: 10cm;
}