@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
  --cor01: #F21628;
  --cor02: #F2949C;
  --cor03: #F21616;
  --cor04: #D9D9D9;
  --cor05: #0D0D0D;

  --font-padrao: Arial, sans-serif;
  --font-roboto: 'Roboto' , sans-serif;
}

.area-produtos {
    margin: 50px;
    display: grid;
    grid-template-areas:
        "box1 box2 box3"
        "box4 box5 box6"
        "box7 box8 box9";
    align-items: center;
    justify-content: space-around;
    align-content: space-around;

}

/* #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9 {

} */

.nome-produtos h1 {
    text-align: center;
    font-family: var(--font-padrao);
    font-size: medium;

}

.preco-produtos h1 {
    font-family: var(--font-padrao);
    font-size:x-large;
}

.display-produtos {
    width: 225px;
    height: 350px;
    border: solid 1px rgb(222, 222, 222);
    border-radius: 8px;
    box-shadow: 0 3px 5px -4px;
}

.add-produtos {
    display: flex;
    
}

.qtd-produtos input {
    width: 20px;
}

/*
@media (max-width 408px) {
    .area-produtos {
        flex-wrap: wrap;
    }
    box1,box2,box3... etc...{
        display: block
    }
}


*/

